[package]
name = "storage"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib","lib"]

[dependencies]
pinocchio = "0.9.2"
pinocchio-log = "0.5.1"
pinocchio-pubkey = "0.3.0"
pinocchio-system = "0.4.0"
